.container{
    background-color: rgb(56, 57, 84);
    color: white;
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}